[2016-09-25 03:52] tomas opened #1 "Blinking status bar?"
Hi and congrats for your work! I recently discovered mle and I'm loving it so far.

I found out a weird thing with the status bar, though. When I run mle outside of an X session (directly from the system shell) the status bar blinks every 1 second or so, but only when showing the default `[mode] buf/line/col` info. When I hit Ctrl+O and `new_open: File?` is shown, then the blinking stops. But then

[2016-09-25 05:59] adsr commented on #1
Hi, thanks for checking out the editor. You are one of the first people to use it. How did you find it if you don't mind my asking?

I'm not sure about the blinking issue. Is your setup using agetty for virtual terminals? I tested in mine and I don't get that behavior. Does it blink even if you don't input anything? The editor should be blocked indefinitely on `select` until there is some input. I

[2016-09-25 19:33] rindeal opened #2 "Licence"
Hi,

as I couldn't find any, do you plan to licence this code under some open source licence?

[2016-09-25 22:27] rindeal commented on #1
It happens to me even in xsession as the bug depends on a terminal emulator, I'll submit a PR in a moment.

[2016-09-25 23:00] #1 closed

[2016-09-26 05:00] adsr commented on #2
I will slap an Apache license on it probably.

[2016-09-26 05:00] adsr commented on #1
Thanks for the patch @rindeal !

[2016-09-26 05:58] tomas commented on #1
Worked nicely, thanks @rindeal.

@adsr I found out about mle from [this page](http://texteditors.org/cgi-bin/wiki.pl?TinyEditors). Do you need help with anything besides testing?

[2016-09-29 15:40] #2 closed

[2016-09-29 19:10] adsr commented on #1
@tomas There is a list of todo items, albeit cryptically written, at the bottom of `mle.h`. Patches are of course welcome. Besides that I'm unsure about the whole lel thing. It was fun to write but I'm not convinced it adds real value or if it's mainly bloat.

[2016-09-29 19:21] tomas commented on #1
Cool, I'll take a look and see if there's anything I can help with.

What's the lel thing, by the way?

[2016-09-30 00:12] adsr commented on #1
It is a tiny text editing language sort of like sam command lang[1]. There are some basic docs under "lel: edit language" in `README.md`. I am unconvinced it is generally useful or that anyone would reach for it as a tool versus simple editing commands.

[1] http://doc.cat-v.org/bell_labs/sam_lang_tutorial/

[2016-09-30 08:47] rindeal commented on #2
Could you also add a licence to mlbuf, please?

[2016-09-30 22:44] adsr commented on #2
Done!

[2016-10-01 10:00] rindeal commented on #2
Thank you

[2017-11-09 15:05] hljcode opened #6 "help"
Hi,your work is wonderful,and i want to learn how it works ,and try to  build one for myself. but i am a newbie in programming( familiar with c and some simple datastructures ).can you give me some suggestions,thanks.

[2017-12-08 01:05] adsr commented on #6
Hello and thanks. I'd suggest doing C tutorial or book, and familiarizing yourself with gdb. Good luck!

[2017-12-08 01:05] #6 closed

[2018-02-02 15:07] pepa65 opened #7 "Fix UTF-8 rendering"
Cool editor! It would be great if UTF-8 could be handled well. If you look at [UTF-8 demo](https://www.cl.cam.ac.uk/~mgk25/ucs/examples/UTF-8-demo.txt) the Thai text isn't working well in `mle`.

[2018-02-02 17:30] adsr commented on #7
Hello, thanks for checking out the editor. mle has full multibyte support. The Thai chars look ok on my end[0]. You may need to adjust locale env vars and/or terminal emulator settings. Feel free to reopen if there is another issue I'm missing.

[0] http://i.imgur.com/6PBFNUR.png

[2018-02-26 00:09] Ubernerd23 opened #8 "port to mac"
For mac users you should note that you have to change the -soname command in the mlbuf makefile to -install_name

[2018-02-26 17:14] #8 closed

[2018-04-11 21:35] dasl- opened #9 "hey hows it going?"

[2018-07-21 11:52] velkyel opened #10 "[Question] why was wren replaced by lua"
hello,

these days I'm diving into wren and found this project where was wren replaced by lua.  I'm curious, why?  technical issues or something else?
thanks

[2018-07-21 16:00] adsr commented on #10
Hello. When I was using Wren, the VM was not re-entrant. So if Wren code invoked a C callback, it could not in turn invoke a Wren callback at that point. Not sure if this is still the case. Otherwise I really enjoyed using it. Highly recommend it.

[2018-07-21 16:00] #10 closed

[2018-12-07 19:50] stutonk opened #12 "Garbled interface when using st"
When using [suckless st](https://st.suckless.org/), starting mle just shows a bunch of garbled, variously-colored text like `~�������������������` rather than the proper interface. Running the same binary in uxterm, on the other hand, shows the proper interface.

![2018-12-07-144121_804x460_scrot](https://user-images.githubusercontent.com/10423469/49669077-27532480-fa2e-11e8-9d59-b0be075de7f9.png)

[2018-12-07 23:11] adsr commented on #12
Thanks for the report. I haven't been able to repro this in `xfce4-terminal` or `st`, though @mdg has seen similar behavior. I suspect it is related to terminfo. Can you share output of the following?

[code]

Does `make test` pass on your setup?

Can you also upload the file specified by `infocmp | head -n1 | grep -Po '/\S+'`?

@nsf may have an idea offhand.

[2018-12-08 01:08] stutonk commented on #12
All `make test` tests pass with no trouble indicated.
Here's [my terminfo file](https://github.com/adsr/mle/files/2659222/st-256color.zip).
[code]

[2018-12-11 15:16] adsr commented on #12
I can reproduce with your terminfo file. I'll update once I get a chance to fix it. Thanks!

[2018-12-11 15:36] #12 closed

[2018-12-11 15:38] adsr commented on #12
Latest termbox seems to correct the issue. `git pull --rebase && git submodule update --init && make clean all` should fix. Thank you again. cc @mdg

[2018-12-11 19:07] #9 closed

[2018-12-22 11:24] cdluminate opened #13 "[debian] Please add Vcs-Git and Vcs-Browser fields pointing to this repo"

[2018-12-22 11:27] cdluminate opened #14 "[debian] Please remove vendored source from debian package"
This can be achived by adding a `Files-Excluded:` field to `debian/copyright`. For example https://codesearch.debian.net/search?q=Files-Excluded

Then the `uscan` command will automatically download a tarball and remove these files.

[2018-12-22 11:29] cdluminate opened #15 "[debian] Please remove bash and grep from suggests"
[code]

You can check the resulting package with `lintian -EviI xxx.changes`

[2018-12-22 11:30] cdluminate commented on #15
BTW, if the packages you suggested aim at enhancing `mle`'s features, you can optionally move them to `Recommends`, which is a higher level of dependency relationship. Recommended packages will be automatically installed when installing mle.

[2018-12-22 16:40] adsr commented on #15
Thanks for assistance. For some reason `lintian -EviI *.changes` was coming up clean for me. Maybe I'm missing something in `.lintianrc`?

[2018-12-22 16:40] #15 closed

[2018-12-22 16:40] #14 closed

[2018-12-22 16:41] #13 closed

[2018-12-25 07:21] cdluminate opened #16 "fails to build on several architectures"
https://buildd.debian.org/status/package.php?p=mle

Click `Build-Attempted` to see the full log.

[2018-12-26 16:47] adsr commented on #16
Thanks for the report. Is there a way to re-run the tests against a new version? and/or to get a shell on the build hosts?

[2018-12-27 01:38] cdluminate commented on #16
The package will be rebuilt every time we upload a new version (or revision). Shell access is not available.

[2018-12-28 05:46] adsr commented on #16
OK, I uploaded 1.3-2 on mentors which may fix some stuff (0d51b0d). After that I will need to setup qemu or something to bugfix.

[2018-12-28 05:59] cdluminate commented on #16
Does that mean I should check and upload `1.3-2` before you finish debugging with qemu?

[2018-12-28 06:16] adsr commented on #16
Only if it's easy for you. If it's non-trivial or time consuming at all, I'll let you know when I've sorted it out on qemu.

[2018-12-28 22:14] adsr commented on #16
I fixed a few bugs and have tests passing on arm64, i386, and mips on qemu. I was not able to reproduce some of the functional test failures so I think certain builds will continue to fail. I suspect these may be related to env or terminfo. I'll continue to hunt them down. Also reuploaded 1.3-2 on mentors.

[2018-12-31 05:15] cdluminate commented on #16
There must not be any difference between the source code of `1.3-1` and `1.3-2` uploads except for that of the `debian/` directory. (1) If you don't mind tagging `1.3.1`, then we can upload `1.3.1-1.` (2) If you don't plan to bump the version number, you can put the diff (e.g. `diff 1.3 -> head`) to the `debian/patches` directory.

[2018-12-31 16:37] adsr commented on #16
Hm, I see the updated code.

[code]

(`inttypes.h` is part of the recent bugfixes.)

Are we not supposed to replace/reupload `orig.tar.xz` when bumping only the release number?

I reuploaded `1.3-2` with `debian/patches` as per your suggestion (2) (timestamp `2018-12-31 16:11`). If updating `orig.tar.xz` is a mistake in this scenario, let me know and I'll reupload the original `orig.tar.xz` from `

[2019-01-19 08:04] cdluminate commented on #16
The orig.tar.xz file cannot be changed when bumping only the Debian revision number.

Let me check it later...

[2019-01-19 10:50] cdluminate commented on #16
The result looks quite good. https://buildd.debian.org/status/package.php?p=mle

[2019-01-19 10:50] #16 closed

[2019-01-19 17:39] adsr commented on #16
Great, thank you.

[2019-04-18 21:49] stacksmith opened #17 "Are there any docs? Default keymap info?"
Looks cool but really don't feel like digging in the dirt.  Am I missing something or is this project entirely undocumented?  I am interested in particular in the default bindings.
Thanks

[2019-04-18 21:57] adsr commented on #17
Hey, thanks for your interest. The keymap is viewable by pressing F2 (by default) while the editor is running. Currently there are no docs beyond that, the README, and the manpage.

[2019-04-18 22:31] stacksmith commented on #17
Great. I missed the F2 somehow.  Thanks!

[2019-04-18 22:59] stacksmith commented on #17
As long as I have your attention - are you planning (or is it at all possible) to have vim-like modes?

[2019-04-19 00:33] adsr commented on #17
Yes, I don't use modes personally but it's possible, e.g.:

[code]

This defines two kmaps: kmap_normal (h=left, l=right, j=up, k=down, q=quit, i=enter insert mode) and kmap_insert (C-c=go back to normal mode, else=insert text). You can build on this to start to approximate the feel of vim. There's editor-side support for parameterizing commands with a letter or number, e.g., for repetition, but o

[2019-04-19 00:46] stacksmith commented on #17
Thanks very helpful.  I am not a real Vim user, but appreciate modality from a distance.  I've been looking for a minimal editing solution for a while, and your project looks really good.  Cranking up Emacs makes me a little sick every time (and Vim sick and confused, generally).
You would do us all a favor by writing up a simple tutorial, showing how you use it to do typical things.  I am not muc

[2019-04-19 00:46] #17 closed

[2019-09-22 12:31] grahamperrin opened #18 "Effectiveness of F2, Control-X and so on"
Re: https://github.com/adsr/mle#user-content-basic-usage and https://github.com/adsr/mle/issues/17#issuecomment-484703362 there's no response to <kbd>F2</kbd> or <kbd>Control</kbd>-<kbd>X</kbd> on FreeBSD.

Please, what am I missing?

Should I report a bug in the FreeBSD area? https://www.freshports.org/editors/mle/

[code]

[2019-09-22 18:19] adsr commented on #18
I see the same behavior when installing the port but not when compiling from source. Digging.

[2019-09-22 20:37] adsr commented on #18
Thanks for the report @grahamperrin. I think 31e89a653ab62a24e82f3e362b3d3350a664f6c4 will fix this issue. I'll update the port after fix is confirmed.

To explain what is going on in these last few commits... The editor stores key bindings in a hash map. This hash map is keyed by a struct (`kinput_t`) which contain 3 integer fields (u8, u32, u16), however most systems add padding bytes so that th

[2019-09-25 16:38] adsr commented on #18
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=240821

[2019-09-25 21:40] adsr commented on #18
Should be fixed now. Thanks again for the report.

[2019-09-25 21:40] #18 closed

[2019-09-29 15:15] grahamperrin commented on #18
Fix confirmed – thanks.

[2020-05-05 05:53] KevinSjoberg opened #19 "Possible to highlight current match?"
When I use `C-f` to search for a given word, I sometimes having a hard time seeing where the cursor is. Highlighting the current match would make that a lot easier.

Is that possible? If not, is there anything I can do to help?

[2020-05-05 08:41] KevinSjoberg opened #20 "Segfault when started under tmux"
Whenever I start `mle` under tmux it segfault with the following message:

[code]

I'm running [kitty](https://sw.kovidgoyal.net/kitty) under Mac OS (10.15.4). `mle` was built from source. `$TERM` is `tmux-256color` in `tmux` and `xterm-kitty` outside.

[2020-05-05 10:10] KevinSjoberg opened #21 "Possible to suspend mle?"
Is it possible to suspend `mle`? In `nano` I can for instance do `C-z` to suspend it temporarily and then do `fg` in my terminal to resume.

[2020-05-05 19:47] adsr commented on #21
Not currently but good idea. I will add the feature.

[2020-05-05 19:54] KevinSjoberg commented on #21
Sweet, appreciate it! :)

[2020-05-05 20:10] adsr commented on #19
There is not a built-in way but you can script it. As a start:

[code]

[2020-05-05 20:13] adsr commented on #20
Thanks for the report @KevinSjoberg. I don't have a mac to test this but if you can share a stacktrace that would be helpful. It does sound like a termcap issue. If you feel experimental you might try to reproduce the issue with a termbox demo: https://github.com/nsf/termbox/tree/master/src/demo

[2020-05-06 02:34] adsr commented on #21
Added in a19ea77. Binds to `F4` by default but you can rebind it as usual. Thanks for the feature request @KevinSjoberg.

[2020-05-06 02:34] #21 closed

[2020-05-06 07:42] KevinSjoberg commented on #21
Sweet, thank you! Just tried out, works great. :+1:

[2020-05-06 07:44] KevinSjoberg commented on #20
Where can I find the stacktrace? No stacktrace was printed during the segfault.I just started learning C so I'm not too familiar with how things work. I'd be happy to help in any way I can.

[2020-05-06 07:57] KevinSjoberg opened #22 "How do I open a file from FZF in a split?"
Whenever I do `C-p`, it replaces the current buffer. When the current buffer is split, I'd like to be able to open a file inside the current split. I've seen it done in demo video, but haven't figured it out myself.

[2020-05-06 08:01] KevinSjoberg commented on #22
Sometimes you should just [RTFM](https://en.wikipedia.org/wiki/RTFM). `C-q p` did the trick!

[2020-05-06 08:01] #22 closed

[2020-05-06 16:02] KevinSjoberg opened #23 "List open buffers?"
Is there a way to easily list open buffers or navigate to an already opened buffer? Whenever I edit multiple files (20+ buffers), I kind of get lost which buffer is which and have to manually do `M-n` and `M-p` to cycle through them one by one.

I assume it can be done using the Lua extension interface if not already implemented?

[2020-05-06 16:16] KevinSjoberg commented on #19
The `cmd_isearch` behaviour is exactly what I'm after. If you're interested I'd be happy to try my hands at implementing a highlight for the current `fsearch` match myself. I'm currently at chapter 5 in the K.N. King book, but I'll do my best!

[2020-05-06 21:24] adsr commented on #20
If you run it under gdb (`gdb --args mle ...` then `run` at the prompt) then after it crashes you will be back at a gdb prompt. Type `bt` to get a stacktrace. Assuming it is termcap-related, can you also share the items from this comment[0]? Thank you.

[0] https://github.com/adsr/mle/issues/12#issuecomment-445393776

[2020-05-06 21:25] adsr commented on #19
Glad `cmd_isearch` works for you. Always open to pull requests. Thanks @KevinSjoberg.

[2020-05-06 21:25] #19 closed

[2020-05-06 22:03] adsr commented on #23
I have thought about adding a sidebar or topbar for this purpose however I was never able to come up with anything that felt useful enough to subtract screen real estate from edit buffers. Something similar to the file browser (`C-b`) would easy to implement. How do you envision it?

[2020-05-06 22:48] KevinSjoberg commented on #23
Kind of tricky to find a sweet spot. I would not pursue the sidebar as it would impact the screen real estate.

I could potentially see FZF being used for this purpose allowing you to quickly navigate to an existing buffer.

Not sure I think that’s the ideal solution but it’s something. What do you think?

[2020-05-06 22:49] KevinSjoberg commented on #20
Thanks for the details, I’ll give this a shot tomorrow! 🙂

[2020-05-07 08:08] KevinSjoberg commented on #20
Alright, here we go.

## outside tmux

- `$TERM` is `xterm-kitty`
- `$LC_ALL` is `en_US.UTF-8`
- `$LANG` is `en_US.UTF-8`
- `$SHELL` is `/usr/local/bin/bash`

<details>
<summary><code>$SHELL --version</code> output</summary>

[code]
</details>

<details>
<summary><code>infocmp</code> output</summary>

[code]
</details>

<details>
<summary><code>gdb</code> output</summary>

[code]
</details>

## in

[2020-05-07 14:14] KevinSjoberg opened #25 "grep does not work on Mac"
Whenever I try to grep for something using `M-q`, it just returns an empty buffer and the mode is set to `mle-menu`. Grepping for the exact same thing under Linux returns the expected results.

Don't seem to yield any errors so not really sure how to debug it.

[2020-05-07 14:21] KevinSjoberg commented on #25
Turns out it's due to the difference in GNU version of `grep` vs the BSD one. The `-P` flag (for Perl regular expressions) does not exist in the BSD version. Both versions of `grep` does have the `-E` for extended regular expression.

Not sure what the right approach is here. We could remove `-P` in favor for `-E` (although they're not equivalent). We could also let the user provide their own argu

[2020-05-07 23:51] adsr commented on #20
Submitted a fix for this in termbox: https://github.com/nsf/termbox/pull/131

In the mean time, you can set `TERM=screen` in tmux and it should work.

[2020-05-07 23:51] #20 closed

[2020-05-08 00:07] adsr commented on #25
Hi Kevin, good catch. I am a big fan of PCRE so I hard-coded my own preference here (`grep -P`) but as you point out it is not portable.

Overriding the default grep command is possible with a custom mode:

[code]

These flags can be placed in `.mlerc` to make them permanent.

That said I agree the editor should make an attempt to pick a sensible default, so on macOS it will now use `-E` instead o

[2020-05-08 00:07] #25 closed

[2020-05-08 00:47] adsr opened #27 "Avoid `grep -P` in tests"
@KevinSjoberg noted in #26 that the functional test suite does not work on macOS due to the use of `grep -P` which is not present in BSD grep. It is probably easiest to switch these to `grep -E`.

[2020-05-08 01:15] adsr commented on #27
@KevinSjoberg or someone else with macOS can you confirm tests are passing?

[2020-05-08 05:50] KevinSjoberg commented on #27
I've verified that all tests are passing in latest `master`! 🎉

[2020-05-08 08:10] KevinSjoberg opened #28 "How do I copy something to the system clipboard"
For instance, if I copy a line using `M-k`, how do I get the selection into my system clipboard? Right now I'm doing `M-e echo "C-u" | pbcopy`.

[2020-05-08 11:25] KevinSjoberg opened #29 "Possible to define tab width, tab to space and smart indent per language"
Is it possible to set the `tab_to_space`, `tab_with` and smart indent on a language basis? For instance, right now, smart indent does not work for Ruby that uses `def`,`do`/`end` instead of `{`/`}`.

[2020-05-08 11:51] KevinSjoberg opened #30 "Would you be up for some pair programming?"
I really enjoy the simplicity of `mle` and would really like to spend more time on it. Perhaps on documentation but also on bug fixes and features. Would you be interested in doing a pairing session where you walk me through the current state of `mle`?

I feel I don't have a good understanding of how the `mlerc` file work, how the extension API work, how custom syntax is defined, and new questions

[2020-05-09 00:22] #27 closed

[2020-05-09 00:32] adsr commented on #29
`tab_to_space` and `tab_width` can be specified as part of a syntax definition via `-S`. Presently auto-indent is a global setting and only works with brackets. It is implemented in the `_cmd_insert_auto_indent*` functions which may be refactorable to support Ruby and Python style indents.

[2020-05-09 00:32] #29 closed

[2020-05-09 00:35] adsr commented on #28
I added an example Lua script which does this:

https://github.com/adsr/mle/blob/3f3b9175fe3e124d2f06ca9bee2346a8fb7c5758/uscript.lua#L17-L25

(Can replace `xclip` with `pbcopy`.)

[2020-05-09 00:35] #28 closed

[2020-05-09 00:40] adsr commented on #30
Very glad to hear that! Feel free to email me and we can find a time.

[2020-05-09 00:40] #30 closed

[2020-05-09 20:01] adsr commented on #23
I added a buffer browser in 9853838c7856fd32a4724a64be26195a576f6865 which operates similar to the file browser.

I'll note that it is possible (albeit inefficient) to switch to an open buffer via fzf. The editor will avoid re-opening a file if it is already open and not unsaved[1]. (I fixed a bug yesterday concerning this behavior 46990ea3448dbc8cd54868dd03efdc22616cf26c.)

[1] To be honest I don

[2020-05-11 12:36] KevinSjoberg commented on #23
@adsr seem to be working great!

[2020-05-11 12:41] KevinSjoberg opened #32 "Move forward until does not work if you're at the char you want to go to"
Given the following string (the cursor marked with square brackets):

    object[.]some.method.chain

When I type `M-' .`, the cursor does not move. If I move the cursor one character forward and type `M-' .` again, it will now successfully move the cursor to the next dot.

[2020-05-11 12:44] KevinSjoberg opened #33 "Shift+tab does not unident"
I know we can use `M-.` and `M-,` to indent and unident respectively. However, since `tab` can be used to indent, I would expect `Shift-tab` to unident.

Right now, the behaviour I'm seeing when pressing `Shift-tab` is a `Z` being inserted at nearest `{`. Hitting it multiple times will continue walking up the tree, inserting `Z` at every `{` it can find.

The `Z` could potentially be an escape seq

[2020-05-11 12:52] KevinSjoberg opened #34 "Ctrl + arrow keys insert garbage"
At times, I type commands really fast and forget to release `ctrl` before pressing an arrow key. Whenever this happens, "garbage" is being inserted in the buffer. Perhaps the respective key code?

- `C-Up` inserts `1;5A`
- `C-Down` inserts `1;5B`
- `C-Left` inserts `1;5D`
- `C-right` inserts `1;5C`

Similar to `Shift-Tab`, the "garbage" is being inserted at nearest `{`. Continuous presses will wal

[2020-05-11 13:00] KevinSjoberg opened #35 "feat: Repeat last command"
Feel free to close this if this behavior already exist and I've just missed it. Whenever I use `M-'` and `M-;` I tend to want to repeat that command one or more times. E.g., "move forward until the third dot" or "move backwards until the fourth comma". Right now, I achieve this by repeating `M-' .` three times and and `M-; ,` four times.

Coming from Vim, you can repeat the last command by simply

[2020-05-11 13:03] KevinSjoberg opened #36 "How do I join lines?"
Is it possible to join lines, if so, how? If not, is it within the scope of `mle` or more in the realm of scriptable using Lua?

[2020-05-11 13:07] KevinSjoberg opened #37 "Setting an anchor using BOL/EOL strategy does not work if the line is empty"
Right now, it's not possible to set an anchor using the BOL (`C-2 a`) and EOL `C-2 e`) strategies. It will simply error with a message like this:

    err! Unrecognized cursor_select_by strat 'bol'

I both cases, couldn't the anchor just start at the column `0` or is there good reason for why we're seeing this behavior?

[2020-05-13 04:29] #23 closed

[2020-05-13 04:29] adsr commented on #32
Thanks!

[2020-05-13 04:29] #32 closed

[2020-05-13 04:29] adsr commented on #37
Thanks!

[2020-05-13 04:29] #37 closed

[2020-05-13 05:10] adsr commented on #34
This and #33 used to bug me as well. Termbox does not support these key combinations unfortunately. It is one of the reasons (alongside 256-bit color and mouse support) why there are a lot of termbox forks out there[0][1][2]. Although I have no personal desire for high color or mouse support, many people do, and handling extra key combinations like this would be nice.

The termbox maintainer has h

[2020-05-13 05:10] #34 closed

[2020-05-13 05:10] adsr commented on #33
https://github.com/adsr/mle/issues/34#issuecomment-627749557

[2020-05-13 05:10] #33 closed

[2020-05-13 05:20] adsr commented on #36
Do you mean to go from

to

? If so I would probably select the lines and `M-e xargs` or `M-e tr -d '\n'`. If you do that a lot, you can make a key binding for it.

[code]

If it's a common editor feature we can also add a built-in for it very easily.

[2020-05-13 06:27] KevinSjoberg commented on #34
Thanks for the thorough explanation!

[2020-05-13 06:30] KevinSjoberg commented on #36
Yeah, I've been using the `M-e xargs` myself, The keybinding would suffice for now. Joining lines are fairly common but at the same time I don't think it makes sense to extend the mle core just because I think so.

Let's close this for now! 🙂

[2020-05-13 06:30] #36 closed

[2020-07-06 23:39] Tentro opened #38 "Problem building on macOS"
Whenever I clone the repository via `git clone --recursive https://github.com/adsr/mle` and build it with `make mle_vendor=1 mle_static=1` and without `mle_static=1` included it fails with two different errors. The former error with `mle_static=1` enabled throws me this: `ld: library not found for -lcrt0.o` and with the latter: https://pastebin.com/hCfXd0qQ
am I missing something? I use mle on Lin

[2020-07-07 01:06] adsr commented on #38
Hi @Tentro thanks for the report. I wish I had a Mac so I could help debug.

It seems the linker is refusing to include the compiled dependencies:

The error message does not make sense to me.

I believe @KevinSjoberg has used mle on macOS. He may have some tips.

[2020-07-08 08:27] KevinSjoberg commented on #38
@Tentro @adsr this is what I do to build the binary on macOS:

1. `brew install libtool automake`
2. `git clone --recursive https://github.com/adsr/mle.git`
3. `make mle_vendor=1`
4. `make install prefix=$HOME` (I want my binary inside $HOME/bin)

[2020-07-09 16:30] adsr commented on #38
@Tentro let us know if @KevinSjoberg 's method works for you.

[2020-07-15 19:23] adsr commented on #38
@Tentro please reopen if you are still having trouble. Thanks.

[2020-07-15 19:23] #38 closed

[2020-08-03 12:02] pepa65 commented on #7
It does look fine on your end, Maybe you can include instructions for packagers? On standard Ubuntu 20.04 LTS it is still very broken...

[2020-08-04 01:40] whiteinge opened #39 "Key binding questions around making a complete Vim-like interface"
Hello. I've been playing with mle on and off for a few days and I just love the simplicity of the code and the minimal philosophy of leaning on external tools as much as possible. I'm an old Vim user so I've started hacking around a `.mlerc` with an eye toward how Vim-like I can make it (ala Emacs and Evil) and I was hoping you could field a few questions around what's possible and what you'd be i

[2020-08-04 04:52] adsr commented on #39
Hello @whiteinge, glad to hear you like it.

Not currently. mle uses termbox which supports two input modes, `TB_INPUT_ESC` which emits escape inputs but sacrifices meta inputs (`alt+...`), and `TB_INPUT_ALT` which is the opposite. mle hardcodes `TB_INPUT_ALT`. It would be nice if there was a third mode that would emit escape inputs if there is nothing left in the input buffer.

https://github.com

[2020-08-04 05:26] adsr commented on #7
Hi @pepa65, I will try building on 20.04 and get back to you on that.

Regarding the multibyte issue, I think this will fix:

https://gist.github.com/adsr/59ba1b6642b8ae8f24a3f5b3d4ccb934

I'll merge after writing a test. Thanks for the report!

[2020-08-05 07:52] whiteinge commented on #39
Thanks for the replies. I'll play with TB_INPUT_ESC this weekend to see how it feels.

I am interested to collaborate on Vim support! Although I'm not sold on baking it directly into mle via C for a few reasons:

- It will bloat mle.
  The bulk of Evil clocks in at 541 lines of mappings and configuration and while that is pretty reasonable, a huge part of the appeal of mle (for me and a couple mle

[2020-08-06 15:57] communistkiro opened #40 "config option to switch between ripgrep and silver searcher?"
I recently found out ripgrep was faster than the silver-searcher, although I never used the latter, just had it installed-, I found out the mle used it to list hidden things because when opened in a directory it says
`[Command failed: ag --hidden -g ""]`
`rg` is faster and can provide the same functionality, as well as these alternatives although they are non recursive):
`ls -p | pcre2grep -v '/$'

[2020-08-11 20:07] KevinSjoberg commented on #35
Just a friendly ping @adsr. 🙂 Would you be interested in adding this behaviour as a default or do you feel it's in extension territory?

[2020-08-11 20:11] KevinSjoberg commented on #39
Just want to chime in here and say it's be happy to help out wherever I can. 🙂

[2020-08-12 04:47] adsr commented on #40
Hi @communistkiro. You can configure mle to use ripgrep like so:

[code]

You can specify these switches in your mlerc instead of on the command line to make the configuration permanent.

[2020-08-12 04:47] #40 closed

[2020-08-12 09:03] KevinSjoberg opened #41 "feat: Open file tree, relative to the current file"
It would be awesome if I could open the file browser relative to the current file. The reasoning is that it would allow you to quickly create a file in the same directory.

[2020-08-12 12:00] kevinsjoberg opened #42 "Word motions fail on characters such as "å", "ä", "ö"."
For instance, If I press `M-d` while standing on `hello`, the word is deleted. If I press `M-d` while standing on `företag`, only `f` is deleted, leaving me with `öretag`. Pressing `M-d` one more time completely removes the word.

This seem to be the case when anchoring and moving by word as well.

[2020-08-12 14:52] communistkiro commented on #40
I've never gotten the mlerc file to get read, as if, at least never have I had my keybindings work.
Semicolons cause `/root/.mlerc: 1: Syntax error: ";" unexpected`, so I use `#`s.
Finally, I was talking about about cmd_fsearch, not cmd_grep.

[2020-08-14 19:18] adsr commented on #7
Improved with 75136ae but need to address https://github.com/termbox/termbox/issues/1 to fix properly

[2020-08-14 19:18] #7 closed

[2020-08-14 19:26] adsr commented on #35
Added in eb37d13.

For a future improvement, it would be nice if `cmd_repeat` was smart enough to re-use any prompts from the previous command if any existed, or (easier / hackier) to specifically convert `cmd_search` to `cmd_search_next` and `cmd_replace` to `cmd_replace_next`.

[2020-08-14 19:26] #35 closed

[2020-08-14 19:42] KevinSjoberg commented on #35
Boom! Thank you, for that! 🎉 I'm in the midst of learning C, as I become more familiar with the language I fully intend to experiment with mle source myself. Hopefully I can contribute with code at some point. 🙂

[2020-08-14 19:51] kevinsjoberg opened #43 "Buffers are written to the current working directory"
Not sure if this is considered a bug or not but I think it's odd.

Given a directory structure like follows

[code]

If I write a file named `test.txt` in the root directory and then do `C-b` and enter the `subdir` directory, followed by switching to `test.txt` buffer by doing `C-\` and hitting `C-s` again. The file is now saved into the `subdir` directory as a new file, not to the original locati

[2020-08-14 20:59] adsr commented on #39
Good points @whiteinge. I tend to agree overall.

Impressive. Very curious to see it. I didn't realize you were already working on one.

By the way, this should already be supported, e.g.:
[code]
Maybe that helps you.

Interesting idea. I agree the current kbinding format is limiting. It would be nice if commands were more composable. There used to be an 'editing language' feature that attempted t

[2020-08-17 10:49] KevinSjoberg opened #44 "How do I make my own syntax have precedence over syn_generic?"
I've setup my own syntax for Ruby. But whenever I open a Ruby file, `syn_generic` kicks in and I have to do `M-o y`, `syn_ruby` to switch the syntax to what I want. Both syntaxes are matching Ruby files.

I found this in the source

https://github.com/adsr/mle/blob/eb37d13ec10a997903bde375e85f6e8295ba0f53/bview.c#L628-L635

I guess since `syn_generic` is registered first and is matching Ruby files

[2020-08-17 12:07] KevinSjoberg opened #45 "Is it possible to use bright colors variants in syntax definitions?"
The documentation show that you can set black, red, yellow, blue, magenta, cyan, white as well as bold, underline and reverse. Is it possible to combine these, e.g, bold blue?

[2020-08-17 23:50] adsr commented on #44
Ah yes, good catch! Let's see if we can iterate in reverse so that later syntaxes take priority.

[2020-08-18 00:05] adsr commented on #45
Yes, you can bitwise-or the flags.

[code]

Bold and blue would be 256 + 5 = 261. Demo:

[code]

[2020-08-18 00:05] #45 closed

[2020-08-18 00:26] adsr commented on #42
Good find!

The built-in regexes that determine word-forward and word-back behavior are `MLE_RE_WORD_FORWARD` and `MLE_RE_WORD_BACK` respectively. Both use `\w` and `\W` to match "word" and non-"word" characters. What counts as a "word" character appears to be determined by locale (env) and the flags `PCRE_UCP` and `PCRE_UTF*` which are available when PCRE is built  with `--enable-utf`. I scanned

[2020-08-18 01:43] adsr commented on #44
Let me know how that works for you @KevinSjoberg. Thanks again.

[2020-08-18 01:43] #44 closed

[2020-08-18 09:25] KevinSjoberg commented on #45
Sweet, I'll probably add that to the man page then. 🙂

[2020-08-25 01:15] adsr commented on #39
Excellent! Please let me know when it gets to a steady state. I'd like to add a link to it in the readme at least if that is ok by you.

Yes, what you have should work (with space-separated keys):

[code]

Fully agree re: avoiding bloat. I've wanted to rewrite the kmap code for a long while because it's hard to follow. I'd only consider the rewrite successful if the code ended up simpler. Bonus if

[2020-08-25 02:03] adsr commented on #43
Good call @KevinSjoberg. This behavior feels natural to me only because I know under the hood that browsing (`C-b`) into a directory is a plain `chdir(2)` call which changes the cwd of the entire process. However I agree the example you give feels wrong.

Some potential solutions...

1. Every time `buffer_t.path` is set, `realpath(3)` it into `buffer_t.path_absolute` and use that for all file oper

[2020-11-16 05:37] rofl0r opened #46 "auto-generated "release tarballs" lack submodules"
without the contents of the git submodules, the release tags are basically worthless, as it's not possible to build the github-generated tarballs.
could you attach a manually created tarball including those to the last release tag?

[2020-11-18 05:40] adsr commented on #46
Added https://github.com/adsr/mle/releases/download/v1.4.3/mle-1.4.3.tar.gz

[2020-11-18 05:40] #46 closed

[2020-11-20 21:28] PhilipRoman opened #47 "Editor becomes unresponsible on WSL 1"
I wish I could provide more details for debugging, but I really don't know how to proceed.
When I open mle, it doesn't react to my keypresses. The text i've typed appears after I hold Ctrl+X for several seconds. To confirm exiting, I have to hold down n for several seconds as well. Memory and CPU usage is minimal.

Git commit: ef2a38a
TERM=st-256color (but the issue happens with other terminals to

[2020-11-20 23:40] adsr commented on #47
Hi @PhilipRoman thanks for the report. Can you describe the setup you are running? OS/distro version, terminal emulator version, screen/tmux version if using any of that, libc version (`ldd --version`), output of `infocmp`, and output of `stty -g`. Also would help if you could run `strace -ttt -T -s1024 -o/tmp/out -v -f mle`, poke around for a few and share `/tmp/out`.

[2020-11-21 09:28] PhilipRoman commented on #47
I'm reproducing this outside screen/tmux. Happens with all terminal emulators I have (xterm, st and others)
[code]
<details>
<summary>Output of infocmp:</summary>
<pre>
#	Reconstructed via infocmp from file: /usr/share/terminfo/s/st-256color
st-256color| simpleterm with 256 colors,
	am, bce, ccc, hs, mir, msgr, npc, xenl,
	colors#0x100, cols#80, it#8, lines#24, pairs#0x7fff,
	acsc=+C\,D-A.B0E``aaf

[2020-11-22 00:12] adsr commented on #47
Thanks for the debug output. I see what you're talking about. At first glance it seems like `extract_event` in termbox is not working properly, making this loop goes for a full 64 bytes for every input:

https://github.com/termbox/termbox/blob/df0d234c5be5ee09b0e912620bc9e81b85d70097/termbox.c#L1244-L1273

Can you confirm the termbox submodule is at commit df0d234? Also I notice you are on WSL. Is

[2020-11-22 00:34] adsr commented on #47
I'm able to reproduce on WSL 1 with a fresh Debian 10 install.

[2020-11-22 03:17] adsr commented on #47
Minimal repro program below.

[code]

This program should exit immediately because the terminal is in raw mode (noncanonical-input mode) and VMIN and VTIME are both zero:

[code]

https://www.gnu.org/software/libc/manual/html_node/Noncanonical-Input.html

nano seems to work however. Need to keep digging at this.

[2020-11-22 05:49] adsr commented on #47
This appears to be a bug in WSL -- https://github.com/microsoft/WSL/issues/3507. nano does not rely on VMIN / VTIME so it is not affected.

Can you apply this patch to termbox and try again? https://gist.github.com/adsr/0d5d301d4c26565d671d52c0756dcc25

I don't like that as a permanent fix because it adds many extra `select` calls. Let's see if we can figure out a way to refactor termbox so that i

[2020-11-22 07:33] PhilipRoman commented on #47
Thanks for the patch, works perfectly. 👍

[2020-11-22 07:33] #47 closed

[2020-11-25 05:27] detly opened #48 "Nothing visible over serial connection (OpenWrt, Mipsel24kc)"
Thanks for mle! Packing this much functionality into a 250kb editor means my colleagues can use something with post-1995 keybindings to help debug our embedded systems.

I've compiled this for OpenWrt on a MT7628 which is `mipsel_24kc` in most toolchains' terminology. It runs perfectly over SSH. However, if I try to run it over a serial line, no visible characters are printed to the screen.

Some

[2020-11-26 03:41] adsr commented on #48
Hey @detly rad! Yes I would imagine the ioctls and SIGWINCH handlers in termbox for determining screen size would not work over a serial console. I will try to reproduce in Virtualbox and get back to you.

[2020-11-26 04:25] adsr commented on #48
I was able to reproduce over a virtual serial port between Virtualbox and minicom. Can you apply this patch to termbox and try again? https://gist.github.com/adsr/1d514ff07fa954e1564b6bb69ced7d1f It should fallback to an 80x24 screen.

[2020-11-26 04:56] detly commented on #48
I'll try it out and let you know.

I also found out that there's a utility called "resize" which is nominally part of X11 but is available on most systems separately now. It works by setting the cursor position to some ridiculously big number and then checking where it was clamped to. This is available on OpenWrt and, in theory, works for serial terminals too. That might be a reasonable fallback i

[2020-11-27 20:03] osa1 commented on #47
You could just set `stdin` to non-blocking mode as a fix, which is what I did to work around this WSL bug in my project: https://github.com/osa1/tiny/pull/276

You don't need any support from termbox for this, just set the stdin flags before initializing termbox.

[2020-12-02 03:40] detly commented on #48
What version of Termbox is that patch against?

[2020-12-02 04:39] detly commented on #48
Never mind, I found the appropriate lines. Unfortunately it didn't work. **However** if I run `eval $(resize)` first, it does. I'll leave it up to you whether you want to bake this into mle, or whether it's a bug in termbox (and I'll report it there), or whether systems making heavy use of UART need to do this in their packaging.

[2020-12-02 04:49] adsr commented on #48
Interesting, yeah I'd like to fix it in termbox. Feel free to add more info here https://github.com/termbox/termbox/issues/7. Steps to setup a repro environment would be excellent.

[2021-01-22 01:24] detly opened #49 "File specified on the command line is not opened"
I am running mle on an OpenWrt system targeting a MT7628 device. I haven't needed to do anything fancy to build it, the bundled makefile works fine with OpenWrt's buildroot.

When I start mle with eg. `mle /etc/config/umdns` (a regular file that I have read/write access to), mle actually starts with a blank buffer instead of the contents of `/etc/config/umdns`. The title of the buffer is `<buffer-

[2021-01-22 02:19] detly commented on #49
I should point out that OpenWrt builds against musl not glibc. It also looks like `mle -h` doesn't show the help text, suggesting that it's not even getting the command line options.

[2021-01-22 03:01] detly commented on #49
Well I feel a bit foolish. I created a wrapper script for mle to resolve the "terminal size over serial" issue, and totally forgot about it. My wrapper script did not pass arguments through to the mle binary. Now it does.

[2021-01-22 03:01] #49 closed

[2021-01-22 04:38] adsr commented on #49
Hi @detly I'm curious what flags you use for resolving the terminal-size-over-serial issue. Thanks.

[2021-01-22 04:46] detly commented on #49
It's pretty simple, and I plan to submit the packaging to OpenWrt later unless you object. Basically:

1. I make the package depend on the "resize" features of Busybox ie. I list `+@BUSYBOX_CONFIG_RESIZE +@BUSYBOX_CONFIG_FEATURE_RESIZE_PRINT` as dependencies (as well as the other libs etc).
2. I configure the package to install the mle executable as `/usr/bin/mle-bin` instead of `/usr/bin/mle`.
3.

[2021-01-22 04:49] detly commented on #49
(Theoretically I think you could just crib the resize code and put it in termbox if you wanted?)

[2021-01-22 20:29] adsr commented on #49
I didn't realize until now you're the person from https://github.com/adsr/mle/issues/48! I'm glad you figured out a work-around.

Yes it's on my backlog to improve termbox. I began maintaining it a few months ago. First order of business is setting up some sort of CI to test features on various terms. Something like this would make a good test case.

[2021-01-23 09:22] detly commented on #49
:detective:

I definitely wouldn't fault you if you didn't want to include this in termbox, it's debatable whether it's within scope of the library or the user. Certainly it would make termbox more useful when such a workaround is necessary, but it's probably a rare edge case. Your call, of course.

[2021-01-23 23:15] smartmic opened #50 "Block edit and overtype"
By using *drop cursor column* and *anchor* it is possible to select a rectangluar area. It would be great if I can filter only this specific column selection through a shell command but currently this did not work for me. While `cat` worked as expected, `sort` just inserts (multi) newlines and other commands fail completely. Also, copying such blocks and pasting them somewhere else yields to stran

[2021-01-24 04:32] adsr commented on #50
Hi @smartmic I have a block select implementation on a branch somewhere, but never merged it because it did not feel very elegant. I would like to take it in a different direction, specifically to combine it with a replace (overtype) mode, which is also currently lacking from mle:

- Add `cmd_toggle_block` which toggles a new field `cursor_t/mark_t.is_block`.
- When `is_block==1`:
    - Change cur

[2021-01-24 04:50] adsr commented on #48
Tracking here https://github.com/termbox/termbox/issues/9

[2021-01-24 04:50] #48 closed

[2021-01-24 22:24] smartmic commented on #50
Thanks, @adsr for sharing your ideas. Since I am not used to multi cursor editing, my first thought was: deleting a selected block should really delete the text and not fill up the selection with white space. But after some reflection, I agree, this can be done with multiple cursors. And your idea to preserve the text shape while in block mode makes sense. So yes, the whole mode description sounds

[2021-02-04 00:06] adsr commented on #50
I recorded a short demo here https://webm.red/view/vAdy.webm. I still don't like the implementation as it required a bunch of `if (is_block) ...` special cases. I'll explore writing individual `cmd_block_(cut|copy|paste|shell)` commands next. While not perfectly correct or consistent, it is way simpler.

[2021-02-06 21:05] smartmic commented on #50
Looks great in the demo! Can we try it out already?

[2021-03-28 01:02] adsr opened #51 "Bug in cursor_select_by_bracket"
I found a bug in `cursor_select_by_bracket` that surfaces when the matching bracket is greater than `MLE_BRACKET_PAIR_MAX_SEARCH` chars away from the cursor. The following shell script reproduces:

[code]

Bugfix to follow.

[2021-03-28 19:28] #51 closed

[2021-04-15 17:48] quadroli opened #52 "termbox segfault on Alacritty (was: Doesn't even open bro)"
friking segfaults upon launching bro,
Just installed it on pop!_OS using ```sudo apt install mle```
and upon launching it just segfaults bro core dump style,
am i doing something wrong?
![Screenshot from 2021-04-15 20-45-54](https://user-images.githubusercontent.com/58091631/114915178-ed7b5f80-9e2b-11eb-9305-c1491a8805c3.png)

[2021-04-15 18:37] adsr commented on #52
Thanks for the bug report @quadroli. I'll try to reproduce later today and report back. My guess is something in termbox, so in the mean time you might try a different terminal emulator or `TERM` env.

[2021-04-15 22:50] adsr commented on #52
Hi @quadroli I installed Pop!_OS on VirtualBox and wasn't able to reproduce. Can you share output/files from the commands mentioned [here](https://github.com/adsr/mle/issues/12#issuecomment-445393776)? Thanks.

[2021-04-16 12:10] quadroli commented on #52
Alright, and thank you for going through the trouble of installing the OS, also wanted to mention that i experienced the same behaviour having built it from source, same with eon to

[2021-04-16 12:17] quadroli commented on #52
odd, seems to work just fine with the default gnome terminal
![pic](https://user-images.githubusercontent.com/58091631/115022972-cfaf0880-9ec6-11eb-8cd4-930aded4e2f5.png)

[2021-04-16 12:23] quadroli commented on #52
echo $TERM

echo $LC_ALL

echo $SHELL

$SHELL --version

Copyright (C) 2019 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software; you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

infocmp
[code]

[2021-04-18 21:58] adsr commented on #52
I built Alacritty from source and still can't reproduce. Can you try compiling mle with debug symbols and sharing a stacktrace of the segfault?

[code]

[2021-04-19 03:03] quadroli commented on #52
output:

[code]

[2021-04-20 04:18] adsr commented on #52
Curious. I presume it's `funcs[T_EXIT_MOUSE]` causing the segfault but I don't see how that would happen.

Any chance I can get a remote login on your setup to look at this? If not can you share your `/etc/terminfo/a/alacritty`? I used your `infocmp` output already but maybe something is lost in the paste.

[2021-04-20 19:55] quadroli commented on #52
Sorry dude cant  reproduce my laptop crushed, had to reset, and from the looks of it seems as if it was only me facing the issue, so if its alright with you could we close the issue?

[2021-04-20 22:37] adsr commented on #52
OK, I'm tracking it here https://github.com/termbox/termbox/issues/10 if you're able to repro again. Thanks @quadroli

[2021-04-20 22:37] #52 closed

[2021-06-09 18:42] kevinsjoberg commented on #42
@adsr did you ever come up with a solution for this?

[2021-06-10 04:05] adsr commented on #42
I will take another look this weekend @kevinsjoberg

[2021-06-11 01:28] adsr commented on #42
OK I figured it out. pcre must be compiled with both `--enable-utf` and `--enable-unicode-properties` to get this working. At runtime, the regex must also be compiled with `PCRE_UTF8` and `PCRE_UCP` flags. I have a working demo at https://github.com/adsr/pcre-utf-test

We should be able to make this a runtime option.

[2021-06-11 02:07] adsr commented on #42
Have a look at https://github.com/adsr/mle/pull/53 @kevinsjoberg

[2021-07-14 08:05] pkitszel commented on #43
Since you are saving files using (original) file names (as opposed to original file descriptor), option 1. seems to be the most sensible among your propositions.

But relying on the realpath() invoked only at the opening time would introduce potential mismatches, eg there could be a symbolic link somewhere on the path that changes after opening.

[2021-08-02 06:48] kevinsjoberg commented on #42
@adsr thank you so much! I'll try this out today. Sorry, for the long response time on my part. Really appreciate the follow up. 🙂

[2021-08-02 06:50] kevinsjoberg commented on #39
@whiteinge I'm curious if you ever followed up on this? 🙂

[2021-08-02 07:01] kevinsjoberg opened #54 "Can't build on macOS anymore"
I just tried building the latest version of `mle` on macOS. Unfortunately, it does not seem to build anymore.

<details>
<summary>Build output from <code>make mle_vendor=1</code></summary>

[code]
</details>

[2021-08-02 09:50] kevinsjoberg opened #56 "Inspiration from dte"
I've been playing around with [dte](https://craigbarnes.gitlab.io/dte) for a while now, and really enjoy large parts of its architecture. While I still use `mle` as my daily driver, I really miss some features that `dte` provides that `mle` doesn't.

- [run](https://craigbarnes.gitlab.io/dte/dterc.html#run). This allow me to shell out to an arbitrary command, do some work, and then end up in `dte`

[2021-08-02 12:41] #56 closed

[2021-08-04 02:20] #54 closed

[2021-08-04 02:38] adsr commented on #56
Nice, I will check out dte and those commands and get back to you.

I prefer writing features in C if they are broadly useful / not too custom. Sometimes I feel like deleting the Lua API.

[2021-08-04 04:28] kevinsjoberg commented on #56
Sounds good! 👍

[2021-08-08 18:27] adsr commented on #56
Tried out dte today. I like the `errorfmt`/`compile` pattern as well and agree it would be a useful feature. It's general enough to apply to other tasks like syntax checking which has been in my scratch [todo list](https://github.com/adsr/mle/blob/1a62d3a35a1d7ddeeae1fc9670c76c563e007b80/mle.h#L689) for a while.

dte's `filter`, `pipe-*`, `run` are roughly achievable by `cmd_shell` and `cmd_suspen

[2021-09-19 01:53] adsr commented on #34
Modified arrow keys (and some other keys) are supported now.

[2021-09-19 01:54] adsr commented on #33
Shift-tab can now be bound to keyname `backtab`.

[2022-01-26 21:42] sc0ttj opened #58 "Multiple cursors"
Hi there,

Which commands actually refer to using multiple cursors?

I'm trying to map the key commands of `mle` to be as similar to Sublime Text (or Micro) as possible.

Specifically I'd like to highlight a word with Ctrl-Shift-Right, then press either Ctrl-d or Alt-n to create the new cursor, and highlight the next occurance of the word.

Thanks.

[2022-02-22 11:59] mvousden opened #59 "Popping a keymap when on the bottom of the mode stack causes a segmentation fault"
I have a custom key mode on top of `mle_normal`. When I pop twice from this mode, mle segfaults. The first pop functions as expected, dropping me back to `mle_normal`.

Not sure what your stance on segmentation faults is, but it might be frustrating to lose a document this way!

[2022-02-23 05:00] adsr commented on #59
Hi, let's definitely fix that. Can you send me your config or otherwise make a repro case? I couldn't reproduce on trunk with this:

[code]

I hit f8, then f9 3 times. valgrind is clean.

[2022-02-23 05:30] adsr commented on #58
Hello, sorry for the delayed reply. There's no built-in command that does that, but I think you could do it with a user script or a macro. The built-in multiple cursor keybindings are (by default):

* `C-/ .`: drop sleeping cursor
* `C-/ a`: wake all sleeping cursors
* `C-/ /`: remove all but the primary cursor
* `C-/ '`: when highlighted across multiple lines, drop a column of cursors (similar to

[2022-02-23 07:27] MuhammedZakir opened #60 "Any plans to support for better syntax highllighting (e.g. scintillua)?"
Suggested Scintillua because it seems simple when compared to others.

https://github.com/orbitalquark/scintillua/

[2022-02-23 08:48] mvousden commented on #59
As a simpler case, I can reproduce the segfault without using a config file. I start mle with `mle -N` (so I'm in `mle_normal`), then command `M-x P`, which causes the segfault.

For reference, I'm on `e86c1be`.

I've attached my output from Valgrind (3.18.1). The segfault happens at the "Invalid read of size 8".

[mle_issue_0059_valgrind_out.txt](https://github.com/adsr/mle/files/8122932/mle_issu

[2022-02-23 12:06] mvousden opened #61 "Question: Paragraph-filling functionality?"
Coming from emacs, I'd quite like a fill-paragraph command, a bit like the one documented at https://www.gnu.org/software/emacs/manual/html_node/emacs/Fill-Commands.html, which redistributes line breaks in a paragraph so that all of the text fits within a certain width.

I don't see anything like this in the source or documentation, so I was wondering if anyone had written something similar as a L

[2022-02-26 23:49] #39 closed

[2022-02-26 23:50] adsr commented on #39
Feel free to re-open

[2022-02-27 00:53] adsr commented on #59
I can reproduce. Debugging now.

[2022-02-27 01:32] adsr commented on #59
b23943c should fix. Feel free to re-open if it doesn't. Not easy to write a test for this one as the test framework relies on a non-root kmap. Thanks @mvousden.

[2022-02-27 01:32] #59 closed

[2022-02-27 07:29] adsr commented on #61
Hello. You might approximate something like that by filtering a selection through a shell command such as `tr '\n' ' ' | sed -r 's|\s+| |g' | fold -s -w79`. You can make a keybinding for that as well if you'd like (`-k cmd_shell,...,...`).

If you'd like to play around with Lua scripting, take a look at `uscript.lua` which should give you a rough idea of how to use the API. There is no documentati

[2022-02-27 15:37] MuhammedZakir commented on #60
Hey! :-) I was thinking about using it as a Lua library [1]. Wouldn't that work? I mentioned it hoping it would be more easy to support it than other similiar libraries.

P.S. This app is really cool! Although some maybe hacky, I really liked how you integrated all those common tools. Keep up the good work! :-D

[1] https://github.com/orbitalquark/scintillua/blob/default/docs/manual.md#using-scint

[2022-02-28 11:50] mvousden commented on #59
I confirm b23943c fixes the issue - when one now attempts to pop on the root kmap, nothing happens.

Thanks!

[2022-02-28 14:20] mvousden commented on #61
I added

[code]

to my `~./mlerc`, which works a treat, given I select the region to fill beforehand.

Problem is, I'd like to be able to run fill-command from anywhere in the paragraph, and have it wrap immediately. This would require me to do some "pre-anchoring" to detect where the paragraph starts and ends, which can't be done using the shell interface on its own (because it just reads stdin).

[2022-05-05 15:11] NuclearKev opened #64 "Access to wildcard params in lua"
Is there any way to get the wildcard params from the `ctx` in the `editor_register_cmd` callback?

[2022-05-05 17:12] adsr commented on #64
Yes, this patch should get you started: https://gist.github.com/adsr/100c6ce4a9133033e227e6a7b84c5f28

As I've mentioned elsewhere, I'm leaning toward removing Lua support in the next release. I encourage feedback on the subject if you have any.

[2022-05-05 17:12] #64 closed

[2022-05-05 17:45] NuclearKev commented on #64
I personally like having the ability to make extensions with lua. Although I haven't done much, I wrote a little extension to remove trailing whitespace when you save a buffer. It also gives the opportunity to create other fun things like maybe even some git extension similar to emacs' `magit`. That's just my take on it! :)

Why were you considering removing?

[2022-05-06 01:23] NuclearKev opened #65 "Can't remap C-space or C-/"
I've remapped C-space in my `.mlerc` but it doesn't remap. In the mode bar (or whatever the bottom bar is called) I get a little n in the first slot, i.e. `mle_as[n...]`. C-/ does also not remap for some reason. Could this be a mac specific issue since I know there are default bindings that use C-/.

[2022-05-06 02:01] adsr commented on #65
Good catch. This patch should make `C-space` mappable:

https://gist.github.com/adsr/9bbb3d2d50d50b2aec32adc7af665d5a

Feel free to submit that as a PR. Looks like `C-~` and `C-2` are equivalent to `C-space`.

`C-/` works on my setup so there might be something else intercepting the input. You can try strace'ing mle to see if the terminal emulator is forwarding the input:

[code]

[2022-05-06 02:25] NuclearKev commented on #65
Sweet! That fix worked. Made the PR #66 with your fix. Also, you are correct about the terminal emulator being weird. I've been using mle on my work computer (a Mac) and the standard terminal emulator doesn't like C-/. Thanks!

[2022-05-06 02:27] #65 closed

[2022-05-08 05:33] adsr commented on #64
Thanks, I appreciate the feedback. My personal thought is that it's a lot of code for a small benefit. The editor is easy to compile from source and modify, so I'd encourage power users to do that.

On the other hand, several people have now provided favorable feedback of the Lua plugin system, so maybe we'll keep it, maybe as a compile-time option.

I've been tossing around the idea of a libdl-ba

[2022-05-08 12:53] NuclearKev commented on #64
Ah yes, I see what you mean. It wouldn't have been that much more difficult to do the things I've done in lua in C thanks to how well-written the project is. I would be interested to see a dynamically linked plugin system and see how it goes. I support either decision you make!

[2022-05-09 18:04] NuclearKev opened #67 "Copied text doesn't copy across buffers"
This seems to be intermittent but once it happens in a session it'll always happen. If I copy a piece of text in buffer A and attempt to paste it into buffer B it just pastes the last thing copied/cut in buffer B rather than what was copied from buffer A. This could have been done on purpose but it seems like a bug to me. Correct me if I'm wrong!

EDIT: I am not using the system clipboard.

[2022-05-12 19:11] adsr commented on #67
Hi @NuclearKev. Yes the behavior you're describing is defined here:

https://github.com/adsr/mle/blob/0185bd15cec74d5b11f9e630dbf2ec20c38a9dd6/cursor.c#L252

Each cursor has its own cut-buffer (clipboard), which enables some useful multi-cursor operations. There's also an editor-wide cut-buffer that holds the last cut of any cursor. When uncutting (pasting), if the cursor cut-buffer is empty, it t

[2022-05-12 19:11] #67 closed

[2022-06-01 02:57] cdluminate opened #69 "suggestion on debian packaging"
After releasing v1.5.0, please only modify files in the debian/ directory. Because I will use `uscan` to download v1.5.0 tarball. In this case, the modified `debian.sh` outside of debian/ directory will cause a small problem for me to build the package because files outside debian/ directory has been changed since v1.5.0 tag. As a result, I'm uploading the 5e7828aae0a9e2c2af1f05e74286c679d38ef8cf

[2022-06-01 02:59] cdluminate commented on #69
I have uploaded `mle_1.5.0-1_source.changes` to debian unstable.

[2022-07-03 00:02] alebcay opened #71 "TUI hangs indefinitely on macOS"
Hello, I found that building `mle` on macOS 12.4 (Darwin Kernel Version 21.5.0: Tue Apr 26 21:08:22 PDT 2022; root:xnu-8020.121.3~4/RELEASE_X86_64) succeeds, but when trying to run it interactively, the editor does not accept any input and none of the keyboard shortcuts work either.

It turns out that [this is an issue in `termbox2`](https://github.com/termbox/termbox2/issues/31) which has [been f

[2022-07-03 03:39] adsr commented on #71
Thanks for the reminder. Updated termbox in a247c9c8dd1adb3e9fdb4e4f32f30ba5413df664.

[2022-07-03 03:39] #71 closed

[2022-07-31 17:39] R1yuu opened #72 "LSP support"
I think this editor would benefit massively if the Language Server Protocol was implemented to make it more viable for coding.

[2022-08-02 04:16] adsr commented on #72
Hello, thanks for the feedback. This would be better off implemented as a user script rather than a built-in feature. If you or anyone else pursues this, please keep us posted.

[2022-08-27 19:05] adsr commented on #43
In 3253070 I implemented a 4th option not described above:

Avoid `chdir` entirely and maintain a `bview_t.browse_path` variable used by `cmd_browse`. When entering a directory via `cmd_browse`, we append to `browse_path`. Right before executing `tree` we cd into `browse_path`. That happens in a forked shell so the cwd of the editor process is unchanged. When selecting a file via `cmd_browse`, we

[2022-08-27 19:05] #43 closed

[2022-08-27 19:06] adsr commented on #69
Thanks @cdluminate. I'll tag you next time I cut a release.

[2022-08-27 19:06] #69 closed

[2022-08-27 19:07] adsr commented on #42
Closing some stale tickets. Feel free to reopen if anyone wants this feature.

[2022-08-27 19:07] #42 closed

[2022-08-27 19:13] adsr commented on #50
I haven't come up with a satisfying implemenation for this. I do think it'd be useful however and remains on the backlog.

[2022-08-27 19:17] adsr commented on #61
Closing some stale tickets. Feel free to reopen.

Curious to hear if you got anywhere with the user script. People seem to like Lua extensibility so I've decided to keep it around for now by the way.

[2022-08-27 19:17] #61 closed

[2022-08-28 17:47] mvousden commented on #61
Good to know - I never actually got around to writing the script for it sadly. Maybe one day...

[2022-08-29 09:28] pkitszel commented on #43
I would write a simple "shortener" for those paths, you would avoid getting over MAX_PATH for some cases then.

I also see nohing in standard C lib for that.

[2022-09-12 12:41] kevinsjoberg commented on #72
I'm actually thinking of pursuing this given the amount of time I spend in mle on a daily basis. 🙂 Any pointers, @adsr?

[2022-09-12 13:06] R1yuu commented on #72
You could look at the implementation of the LSP extension for the micro text editor: https://github.com/AndCake/micro-plugin-lsp

[2022-09-13 02:01] adsr commented on #72
That would be epic. I predict you will find shortcomings in the plugin API. Feel free to submit PRs or issues for any of that.